@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-white font-sans antialiased;
  }
}

.glass-panel {
    @apply bg-dark-800/80 backdrop-blur-md border border-white/10;
}
